*{
    margin:0;
    padding:0;
}

ul li {
    list-style:none;
}

html,body,#app{
    width:100%;
    height:100%;
    overflow: hidden;
}   

#app{
    display: flex;
}

.left{
    width:80px;
    flex-shrink: 0;
    margin-right:10px;
}
.left li{
    width:100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-bottom:1px solid gray;
}
.right{
    flex:1;
}

.right dl{
    display: flex;
    border-bottom:1px solid gray;
}

img{
    width:80px;
    height: 80px;
}