*{
    margin:0;
    padding:0;
}

ul li{
    list-style: none;
}

.swiper-container{
    width:400px;
    height:200px;
    border:1px solid gray;
    position: relative;
}

.swiper-button-prev,.swiper-button-next{
    width:20px;
    height:40px;
    background: rgba(0,0,0,.8);
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    display: none;
}

.swiper-button-prev{
    left:0;
}

.swiper-button-next{
    right:0;
}

.swiper-pagination{
    width:100%;
    position: absolute;
    bottom:10px;
    text-align: center;
}

.swiper-pagination li{
    width:8px;
    height:8px;
    background: gray;
    border-radius: 50%;
    margin:0 4px;
    display: inline-block;
}

.swiper-pagination li.active{
    background: black;
}
